@page "/Error"
<PageTitle>Error</PageTitle>
<div class="container py-5 text-center">
    <h1 class="text-danger">An error occurred.</h1>
    <p>Please try again or contact support.</p>
    <a class="btn btn-primary" href="/">Go Home</a>
</div>
